/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/* My header section */
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
/* section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav title */
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/* nav and ul style */
nav > ul{
    display: flex;
}
/* nav and li style */
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500px;
    line-height: 26px;
}
/* nav and li and a */
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner contant style */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
/* banner style */
.banner-title{
    font-size: 4em;
    font-weight: 700px;
    color: #131313;
}
/* banner description style */
.banner-description{
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}
/* button style */
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    margin: 35px auto;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600px;
    padding: 20px 25px;
    cursor: pointer;
}
/* banner image style */
.banner-images img{
    margin: 20px auto;
    width: 100%;

}

/* rasponsiv style */
@media screen and (max-width:576px) {
    header{
        padding: 10px;
        margin: 0;
    }
    nav{
        flex-direction: column;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid firebrick;
}
/* teams-container style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.teams-content{
    width: 537px;
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.span-1{
    color: #131313;
}
.span-2{
    color: #FF900E;
}
.teams-description{
    color: #727272;
    font-size: 16px;
    font-weight:400;
    line-height: 26px;
}

@media screen and (max-width:576px){
    .teams-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
    }
    .teams-img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }
    .teams-content{
        display: flex;
        flex-direction:  column;
        margin: 0;
    }
}